{% extends "base.html" %}
{% load bootstrap3 %}

{% block container %}
  <div style="background-color: #eee">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="{% block banner-image %}{% endblock %}" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="content">

    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1>{% block blog-title %}{% endblock %}</h1>
        </div>
        {% bootstrap_messages %}
      </div>
    </div>

    <div class="row">
      {% if blog.sidebar_first %}<div class="col-md-4 col-md-push-8">
        {% if blog.sidebar_html %}{{ blog.sidebar_html|safe }}{% else %}{% include "sidebar.html" %}{% endif %}
      </div>{% endif %}
      <div class="col-md-8{% if blog.sidebar_first %} col-md-pull-4{% endif %}">
        <p class="text-muted">Posted on {% block blog-date %}{% endblock %} by {% block blog-author %}{% endblock %}</p>
        <div>
          {% block blog-body %}{% endblock %}
        </div>
        {% block blog-author-section %}{% endblock %}
      </div>
      {% if not blog.sidebar_first %}<div class="col-md-4">
        {% if blog.sidebar_html %}{{ blog.sidebar_html|safe }}{% else %}{% include "sidebar.html" %}{% endif %}
      </div>{% endif %}
    </div>

  </div>
{% endblock %}
