{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block additional-styles %}
  <link rel="stylesheet" href="{% static "css/custom-home.css" %}">
{% endblock %}

{% block title %}Wharton FinTech{% endblock %}

{% block container %}

  <a id="home" class="anchor"></a>
  <div class="parallax-window parallax-window-splash" data-parallax="scroll" data-image-src="{% static 'images/home/huntsman-hall.jpg' %}" data-position="bottom left" data-speed="0.5">
    <div class="caption">
      <div class="container" id="content">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p>"We are in the early stages of the financial services industry’s version of the Industrial&nbsp;Revolution."</p>
            <p class="text-right" style="padding-top:0;"><small>-Tom Loverro, RRE Ventures</small></p>
            <p class="text-center"><a href="#about-us" data-toggle="scrollTo">{% bootstrap_icon 'chevron-down' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a id="about-us" class="anchor"></a>
  <div class="parallax-interstitial">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <div class="page-header">
            <h1>The first student-led FinTech initiative</h1>
          </div>
          {% bootstrap_messages %}
          <p class="lead">We are FinTech thought leaders connecting <strong>innovators,&nbsp;academics&nbsp;and&nbsp;investors</strong> with the <strong>ideas&nbsp;and&nbsp;companies</strong> that are <strong>reinventing&nbsp;global&nbsp;financial&nbsp;services</strong>.</p>
          <p class="lead">We are committed to education, career development and idea promotion by connecting innovative, established, disruptive and proven FinTech enterprises with students and industry professionals.</p>
        </div>
      </div>
    </div>
  </div>

  <a id="careers" class="anchor"></a>
  <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'images/home/career.jpg' %}">
    <div class="headline">Careers</div>
  </div>

  <div class="parallax-interstitial">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h2>Connecting exceptional business and engineering talent with FinTech companies and investors globally</h2>
          </div>
          <p class="lead">We at Wharton FinTech are continuously building our network of industry contacts, including innovative companies, investors and academic centers, to deliver on our dual missions of establishing ourselves as thought leaders in the sector and sourcing internship and full-time employment opportunities for students.</p>
          <p class="lead">We have successfully sourced opportunities at leading companies such as <a href="https://www.wealthfront.com/" target="_blank">Wealthfront</a>, <a href="https://www.nerdwallet.com/" target="_blank">NerdWallet</a>, <a href="https://www.apple.com/apple-pay/" target="_blank">Apple Pay</a>, <a href="https://www.personalcapital.com/" target="_blank">Personal Capital</a>, and <a href="http://www.mastercard.us/" target="_blank">MasterCard</a>, in addition to building relationships with accelerators and investors such as <a href="http://www.fintech.io/" target="_blank">FinTech Collective</a>, <a href="http://ventures.citi.com/citi_ventures/homepage/index.htm" target="_blank">Citi Ventures</a>, <a href="http://www.barclaysaccelerator.com/" target="_blank">Barclays</a> and <a href="http://www.techstars.com/" target="_blank">Techstars</a>.</p>
          <p class="lead">If you're interested in learning more or in advertising a career opportunity to our member base, please contact us at <a href="mailto:careers@whartonfintech.org">careers@whartonfintech.org</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <a id="education" class="anchor"></a>
  <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'images/home/education.jpg' %}" data-speed="0.4">
    <div class="headline">Education</div>
  </div>

  <div class="parallax-interstitial">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h2>Promoting education and awareness of the FinTech industry</h2>
          </div>
          <p class="lead">We offer speaker series, hands-on projects and panel discussions to engage students and professionals with the latest ideas, trends and developments in FinTech. Please contact us at <a href="mailto:education@whartonfintech.org">education@whartonfintech.org</a> for details if you'd like to get involved.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3"><a href="https://venmo.com/" target="_blank"><img src="{% static "images/home/education/venmo.png" %}" class="img-responsive"></a></div>
        <div class="col-xs-6 col-sm-3"><a href="https://www.braintreepayments.com/" target="_blank"><img src="{% static "images/home/education/braintree.png" %}" class="img-responsive"></a></div>
        <div class="col-xs-6 col-sm-3"><a href="https://www.wealthfront.com/" target="_blank"><img src="{% static "images/home/education/wealthfront.jpg" %}" class="img-responsive"></a></div>
        <div class="col-xs-6 col-sm-3"><a href="https://www.aspiration.com/" target="_blank"><img src="{% static "images/home/education/aspiration.png" %}" class="img-responsive"></a></div>
      </div>
    </div>
  </div>

  <a id="ideas" class="anchor"></a>
  <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'images/home/ideas.jpg' %}" data-speed="0.6">
    <div class="headline">Ideas</div>
  </div>

  <div class="parallax-interstitial">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-6"><img src="{% if blog.banner_image %}{{ blog.banner_image.url }}{% else %}{% static "images/article-banners/banner-v1.jpg" %}{% endif %}" class="img-thumbnail img-responsive"></div>
        <div class="visible-xs visible-sm clearfix"><br></div>
        <div class="col-xs-12 col-md-7 col-lg-6">
          <div class="page-header">
            <h2 style="line-height: 1.5em;"><span class="label label-info">New post</span> {{ blog.title }}</h2>
          </div>
          <p class="lead">{{ blog.description }}</p>
          <p><a href="{{ blog.get_absolute_url }}" class="btn btn-lg btn-default">Read more...</a> <a href="{% url 'blog:index' %}" class="btn btn-lg btn-primary">See more blog posts</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block additional-scripts %}
  <script src="{% static "js/parallax.min.js" %}"></script>
  <script src="{% static "js/viewport-units-buggyfill.js" %}"></script>
  <script src="{% static "js/jquery.scrollTo.min.js" %}"></script>
  <script>
    window.viewportUnitsBuggyfill.init();
    $(document).on('click.scrollTo.data-api', '[data-toggle="scrollTo"]', function (e) {
      var $this = $(this);
      var href  = $this.attr('href');
      if ($this.is('a')) e.preventDefault();
      $.scrollTo(href,'slow');
    });
  </script>
{% endblock %}
