{% load staticfiles %}
{% load bootstrap3 %}

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-contents">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{% static "images/logo-v2.png" %}" class="responsive hidden-xs hidden-sm" /><img src="{% static "images/logo-small-v2.png" %}" class="responsive hidden-md hidden-lg" /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-contents">
        {% if request.user.is_authenticated %}<a href="{% url 'account_logout' %}" class="btn btn-danger navbar-btn pull-right" style="margin-left: 2em;">Logout</a>{% endif %}
        <ul class="nav navbar-nav navbar-right">
          {% if is_homepage %}
          <li><a href="#home" data-toggle="scrollTo">{% bootstrap_icon "home" %}</a></li>
          <li class="dropdown" id="dropdown-about-us">
            <a href="#about-us" class="dropdown-toggle" data-toggle="scrollTo">About Us <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'about-us' %}">Our Mission</a></li>
              <li><a href="{% url 'board' %}">Who We Are</a></li>
              <li><a href="{% url 'sponsors' %}">Our Sponsors</a></li>
            </ul>
          </li>
          <li><a href="#careers" data-toggle="scrollTo">Careers</a></li>
          <li><a href="#education" data-toggle="scrollTo">Education</a></li>
          <li><a href="#ideas" id="blog-link">Blog</a></li>
          {% else %}
          <li{% if menu_context.0 == 'home' %} class="active"{% endif %}><a href="{% url 'home' %}">{% bootstrap_icon "home" %}</a></li>
          <li class="dropdown{% if menu_context.0 == 'about-us' %} active{% endif %}">
            <a href="{% url 'about-us' %}" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li{% if menu_context.1 == 'about-us' %} class="active"{% endif %}><a href="{% url 'about-us' %}">Our Mission</a></li>
              <li{% if menu_context.1 == 'board' %} class="active"{% endif %}><a href="{% url 'board' %}">Who We Are</a></li>
              <li{% if menu_context.1 == 'sponsors' %} class="active"{% endif %}><a href="{% url 'sponsors' %}">Our Sponsors</a></li>
            </ul>
          </li>
          <li{% if menu_context.0 == 'careers' %} class="active"{% endif %}><a href="{% url 'home' %}#careers">Careers</a></li>
          <li{% if menu_context.0 == 'education' %} class="active"{% endif %}><a href="{% url 'home' %}#education">Education</a></li>
          <li{% if menu_context.0 == 'blog' %} class="active"{% endif %}><a href="{% url 'blog:index' %}">Blog</a></li>
          {% endif %}
          <li{% if menu_context.0 == 'contact-us' %} class="active"{% endif %}><a href="{% url 'contact-us' %}">Join</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
